*
!.gitignore
!go.mod
!go.sum
!Makefile

!bin/
bin/*
!bin/.gitignore

!cmd/
cmd/*
!cmd/dataset-onehot/
cmd/dataset-onehot/*
!cmd/dataset-onehot/main.go
!cmd/fastq-stat/
cmd/fastq-stat/*
!cmd/fastq-stat/main.go
!cmd/sequence-length/
cmd/sequence-length/*
!cmd/sequence-length/main.go
!cmd/sequence-random/
cmd/sequence-random/*
!cmd/sequence-random/main.go
!cmd/sequence-shuffle/
cmd/sequence-shuffle/*
!cmd/sequence-shuffle/main.go
!cmd/kmer-count/
cmd/kmer-count/*
!cmd/kmer-count/main.go
!cmd/test-script/
cmd/test-script/*
!cmd/test-script/main.go

!dataset/
dataset/*
!dataset/*.go

!endcoding/
encoding/*
!encoding/*.go

!kmer/
kmer/*
!kmer/*.go

!pattern/
pattern/*
!pattern/*.go

!quality/
quality/*
!quality/*.go

!seq/
seq/*
!seq/*.go

!seqio/
seqio/*
!seqio/*.go
!seqio/fasta/
seqio/fasta/*
!seqio/fasta/*.go
!seqio/fastq/
seqio/fastq/*
!seqio/fastq/*.go
!seqio/seqitf/
seqio/seqitf/*
!seqio/seqitf/*.go

