*
!.gitignore
!go.mod
!go.sum
!Makefile

!bin/
bin/*
!bin/.gitignore

!cmd/
cmd/*
!cmd/dataset-onehot/
cmd/dataset-onehot/*
!cmd/dataset-onehot/main.go
!cmd/fastq-filter/
cmd/fastq-filter/*
!cmd/fastq-filter/main.go
!cmd/dataset-split/
cmd/dataset-split/*
!cmd/dataset-split/main.go

!dataset/
dataset/*
!dataset/*.go

!endcoding/
encoding/*
!encoding/*.go

!kmer/
kmer/*
!kmer/*.go

!pattern/
pattern/*
!pattern/*.go

!quality/
quality/*
!quality/*.go

!seq/
seq/*
!seq/*.go

!seqio/
seqio/*
!seqio/*.go
!seqio/fasta/
seqio/fasta/*
!seqio/fasta/*.go
!seqio/fastq/
seqio/fastq/*
!seqio/fastq/*.go
!seqio/fastnq/
seqio/fastnq/*
!seqio/fastnq/*.go
!seqio/seqitf/
seqio/seqitf/*
!seqio/seqitf/*.go

